/* Desktop & Tablets */

@media screen and (max-width: 1400px) {
  .callToActionBGWrap {
    background-image: -webkit-image-set(
      url("./images/Mask\ group.png") 1x,
      url("./images/Mask\ group.retina.png") 2x
    );
    background-image: image-set(
      url("./images/Mask\ group.png") 1x,
      url("./images/Mask\ group.retina.png") 2x
    );
    background-size: cover;
    background-position: 65%;
    display: flex;
    flex-direction: column;
  }
  .callToActionBGWrap.callToAction .mainTitle {
    width: 60%;
    font-size: 2.2rem;
  }
  .callToActionBGWrap.callToAction .slogan {
    font-size: 1.3rem;
  }
  .callToActionBGWrap.callToAction .leaveEmail {
    font-size: 1.15rem;
  }
  .mailWrapper {
    width: 230px;
    height: 40px;
  }
  .mailWrapper a {
    font-size: 0.9rem;
  }
  .donate {
    width: 80%;
  }
  .donateInfo h4 {
    width: 45%;
  }
  .donateInfo p {
    font-size: 0.9rem;
    width: 40%;
  }
  .donate img {
    width: 197px;
    height: 190px;
  }
  .container {
    padding: 0;
  }
  .header {
    padding: 25px 0;
  }
}
@media screen and (max-width: 1250px) {
  .callToActionBGWrap.callToAction .mainTitle {
    font-size: 2rem;
  }
  .callToActionBGWrap.callToAction .slogan {
    font-size: 1.1rem;
  }
  .callToActionBGWrap.callToAction .leaveEmail {
    font-size: 1rem;
  }
  .donateInfo h4 {
    font-size: 1rem;
  }
  .donateInfo p {
    font-size: 0.8rem;
  }
  .donate img {
    width: 180px;
    height: 175px;
  }
  .donateInfo {
    padding: 0;
  }
  .donateInfo .donateButton {
    width: 143px;
    height: 27px;
    font-size: 0.9rem;
    margin: 9px 15px;
  }
}
@media screen and (max-width: 1220px) {
  .callToActionBGWrap {
    background-image: -webkit-image-set(
      url("./images/backgroundTablet.png") 1x,
      url("./images/backgroundTabletRetina.png") 3x
    );
    background-image: image-set(
      url("./images/backgroundTablet.png") 1x,
      url("./images/backgroundTabletRetina.png") 3x
    );
    background-size: cover;
  }
  .callToActionBGWrap.callToAction .mainTitle {
    width: 70%;
    font-size: 2.4rem;
  }
  .callToActionBGWrap.callToAction .slogan {
    font-size: 1.5rem;
    width: 65%;
  }
  .callToActionBGWrap.callToAction .leaveEmail {
    font-size: 1.3rem;
  }
  .donateInfo h4 {
    width: 70%;
  }
  .donateInfo p {
    width: 55%;
  }
  .donate img {
    width: 142px;
    height: 135px;
  }
}
@media screen and (max-width: 1120px) {
  .callToActionBGWrap.callToAction .mainTitle {
    font-size: 2.1rem;
  }
  .callToActionBGWrap.callToAction .slogan {
    font-size: 1.3rem;
  }
  .callToActionBGWrap.callToAction .leaveEmail {
    font-size: 1.1rem;
  }
  .donate {
    width: 65%;
  }
}
@media screen and (max-width: 1000px) {
  .donateInfo h4 {
    font-size: 0.9rem;
  }
  .donateInfo p {
    font-size: 0.7rem;
  }
  .donate img {
    width: 140px;
    height: 135px;
  }
  .callToActionBGWrap.callToAction .mainTitle {
    font-size: 1.9rem;
  }
  .callToActionBGWrap.callToAction .slogan {
    font-size: 1.2rem;
  }
  .callToActionBGWrap.callToAction .leaveEmail {
    font-size: 1rem;
  }
}
@media screen and (max-width: 960px) {
  .donate img {
    width: 132px;
    height: 125px;
  }
  .donateInfo h4 {
    font-size: 0.8rem;
    width: 75%;
  }
  .donate {
    width: 55%;
  }
  .donateInfo p {
    width: 70%;
  }
  .donateInfo .donateButton {
    width: 125px;
    height: 21px;
    font-size: 0.8rem;
  }
}


/* Mobile version */
/*
@media screen and (max-width: 820px) {
  .callToActionBGWrap {
    background-image: image-set(
      url("../../../../assets/images/CAT-mobile-background.png") 1x,
      url("../../../../assets/images/CAT-mobile-background-retina.png") 2x
    );
    background-size: cover;
    background-position: bottom;
  }

  .callToActionBGWrap.callToAction {
    justify-content: flex-start;
    height: 100vh;

    background-image: -webkit-image-set(
      url("./images/CAT-mobile-background.png") 1x,
      url("./images/CAT-mobile-background-retina.png") 2x
    );
    background-image: image-set(
      url("./images/CAT-mobile-background.png") 1x,
      url("./images/CAT-mobile-background-retina.png") 2x
    );
    background-size: cover;
    background-position: center;
  }
  .callToActionBGWrap.callToAction .mainTitle {
    width: 100%;
    margin-top: 20px;
    line-height: 38px;
    text-align: center;
    font-size: 30px;
  }

  .callToActionBGWrap.callToAction .mainTitle .firmNameInMainTitle {
    display: block;
  }

  .callToActionBGWrap.callToAction .slogan {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .callToActionBGWrap.callToAction .mainToCourseLink {
    margin: 20px auto 0;
    color: #fff;
    background: #618135;
  }
  .callToActionBGWrap.callToAction .container {
    padding-top: 0;
    margin-top: 150px;
    width: 100%;
  }
  .newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer {
    width: 265px;
    color: white;
    background-color: rgba(29, 25, 25, 0.579);
    border-radius: 0 5px 0 0;
    margin-left: -21px;
    margin-bottom: 0;
    padding: 5px 5px 5px 15px;
  }
  .footer a {
    color: #69ad61;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .headerNav {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .callToActionBGWrap.callToAction .mainTitle {
    font-size: 25px;
  }
  .callToActionBGWrap.callToAction .slogan {
    font-size: 15px;
  }
  .newsletter-form {
    margin-top: 30px;
  }
  .newsletter-form .form-input {
    font-size: 16px;
  }
  .newsletter-form .form-button {
    font-size: 17px;
  }
}
@media screen and (max-width: 410px) {
  .callToActionBGWrap.callToAction .slogan {
    font-size: 13px;
  }
  .callToActionBGWrap.callToAction .mainTitle {
    font-size: 22px;
    line-height: 34px;
  }
  .callToActionBGWrap.callToAction .container {
    margin-top: 120px;
  }
  .newsletter-form .form-button {
    font-size: 15px;
    width: 70px;
  }
}
input {
  width: 230px;
}
.newsletter-form .form-input {
  font-size: 14px;
}
@media screen and (max-width: 360px) {
  .callToActionBGWrap.callToAction .container {
    margin-top: 190px;
  }
  .footer {
    font-size: 11px;
    padding: 5px 2px 5px 20px;
  }
  .callToActionBGWrap.callToAction .slogan {
    font-size: 12px;
  }
}
