* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}
.container {
  padding: 0 25px;
  width: 95%;
  max-width: 1800px;
  font-size: 18px;
  margin: auto;
}
.header {
  width: 95%;
  max-width: 1800px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: absolute;
  padding: 25px 25px;
}
.mailWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  padding: 0 15px 0 15px;
  height: 45px;
  width: 270px;
}
.mailWrapper a {
  color: #484747;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 0 10px;
  text-decoration: none;
}
.mailWrapper a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.headerLogo {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  transition: all 0.2s ease;
}
.headerLogo:hover,
.headerLogo:focus-visible {
  opacity: 0.7;
}
.logoWrap {
  display: flex;
  align-items: center;
}
.logoWrap:hover .computerLight,
.logoWrap:focus .computerLight {
  -webkit-animation: blink-1 0.6s both;
  animation: blink-1 0.6s both;
}
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 0.5;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 0.5;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.callToActionBGWrap {
  background-image: -webkit-image-set(
    url("./images/mainPageBackground.png") 1x,
    url("./images/mainPageBackgroundRetina.png") 2x
  );
  background-image: image-set(
    url("./images/mainPageBackground.png") 1x,
    url("./images/mainPageBackgroundRetina.png") 2x
  );
  background-size: cover;
  background-position: 65%;
  display: flex;
  flex-direction: column;
}
.callToActionBGWrap.callToAction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}
.callToActionBGWrap.callToAction .mainTitle {
  width: 55%;
  margin: 0 0 20px;
  font-size: 2.35rem;
  font-weight: 600;
  line-height: 46px;
  color: #618135;
}
.blackText {
  color: black;
}
.callToActionBGWrap.callToAction .mainTitle .firmNameInMainTitle {
  color: #618135;
  font-size: 46px;
}
.callToActionBGWrap.callToAction .slogan {
  width: 47%;
  margin: 0 0 45px 0;
  font-size: 1.37rem;
  line-height: 1.5;
  color: #717070;
}
.callToActionBGWrap.callToAction .leaveEmail {
  font-size: 1.25rem;
  color: #717070;
}
form button {
  height: 53px;
  display: flex;
  align-items: center;
  background-color: #f7f5ec;
  color: #618135;
  border: 2px solid #618135;
  margin: auto 16px;
  width: 160px;
  justify-content: center;
  padding: 12px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}
form {
  margin-top: 30px;
}
form button:hover {
  background-color: #618135;
  color: #f7f5ec !important;
  transition: all 0.2s ease;
}
.newsletter-form input {
  width: 320px;
  height: 55px;
  border-radius: 50px;
  padding: 0 25px;
  font-size: 18px;
  border: 1px solid transparent;
  outline: none;
}
input::placeholder {
  color: #a0a0a0;
}
input:focus {
  border: 1px solid #618135;
}
.newsletter-form {
  display: flex;
  margin: 10px 0 0 0;
}
.donate {
  display: flex;
  width: 100%;
}
.donate img {
  width: 147px;
  height: 140px;
  border-radius: 25px;
}
.donateInfo {
  padding-left: 7px;
  padding-top: 3px;
  margin: 0;
}
.donateInfo h4 {
  color: black;
  width: 70%;
  margin: 0 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}
.donateInfo h4 span {
  color: #618135;
}
.donateInfo p {
  padding-top: 5px;
  width: 55%;
  margin: 0 15px;
  font-size: 16px;
  color: #717070;
  line-height: 20px;
}
.donateInfo .donateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 32px;
  padding: 5px 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  margin: 12px 15px;
  background-color: #618135;
  color: #f7f5ec;
  border: 2px solid #618135;
  cursor: pointer;
  text-decoration: none;
}
.donateInfo .donateButton:hover {
  background-color: #f7f5ec;
  color: #618135;
  transition: all 0.2s ease;
}
footer.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container .footer {
  margin: 0;
  width: 23%;
  font-size: 0.75rem;
  color: white;
  font-weight: 400;
}
